.home {
  background-image: url("../../woods2.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 412px) {
  .home {
    background-position: top;
    width: 100%;
    position: fixed;
  }
}
